use master 
go
if(exists(select * from sysdatabases where name='QUANLYHS'))
drop database QUANLYHS
go
create database QUANLYHS 



go
use QUANLYHS
go
create table MonHoc
(
MaMon nvarchar(100) not null primary key,
TenMon nvarchar(200) not null,
SoTiet int not null
)
create table CanBoGiaoVien
(
MaCanBoGiaoVien nvarchar(100) not null primary key,
HoTen nvarchar(200) not null,
DiaChi nvarchar(200) not null,
SoDienThoai nvarchar(101) not null,
TaiKhoan nvarchar(200) not null,
MatKhau nvarchar(80) not null,
LoaiTaiKhoan nvarchar(100) not null
)
create table Lop
(
MaLop nvarchar(100) not null primary key,
TenLop nvarchar(200) not null,
NienKhoa nvarchar(100) not null,
SiSo int not null,
GiaoVienChuNhiem nvarchar(100) not null,
constraint GVCN_Lop_CBGV foreign key(GiaoVienChuNhiem) references CanBoGiaoVien(MaCanBoGiaoVien)
)
create table HoSoHocSinh
(
MaHocSinh nvarchar(100) not null primary key,
HoTen nvarchar(200) not null,
NgaySinh datetime not null,
GioiTinh nvarchar(50) not null,
DiaChi nvarchar(200) not null,
DiemVaoTruong float not null,
HoTenBoMe nvarchar(200) not null,
SoDienThoai nvarchar(110) not null,
MaLop nvarchar(100) not null,
constraint Malop_HSHS_Lop foreign key (MaLop) references Lop(MaLop)
)
create table Diem
(
MaHocSinh nvarchar(100) not null,
MaMonHoc nvarchar(100) not null,
DiemTB_Ky1 float  null,
DiemTB_Ky2 float  null,
primary key(MaHocSinh,MaMonHoc),
constraint MaHS_Diem_HSHS foreign key (MaHocSinh) references HoSoHocSinh(MaHocSinh),
constraint MaMon_Diem_Mon foreign key (MaMonHoc) references MonHoc(MaMon)
)
create table PhanCongGiangDay
(
MaLop nvarchar(100) not null,
MaMon nvarchar(100) not null,
MaCanBoGiaoVien nvarchar(100) not null,
NgayPhanCong datetime not null,
primary key (MaLop,MaMon,MaCanBoGiaoVien),
constraint Lop_PhanCong foreign key (MaLop) references Lop(MaLop),
constraint CBGV_PhanCong foreign key (MaCanBoGiaoVien) references CanBoGiaoVien(MaCanBoGiaoVien),
constraint Mon_PhanCong foreign key (MaMon) references MonHoc(MaMon)
)
go
delete CanBoGiaoVien

select *from MonHoc

--mon
insert into MonHoc values ('mon1','lap trinh window','45')
insert into MonHoc values ('mon2','lap trinh nhung','45')
insert into MonHoc values ('mon3','lap trinh web','45')

--can bo giao vien

insert into CanBoGiaoVien values ('gv1','nguyen thi t','ha noi','012345678','nguyen thi','1','gv')
insert into CanBoGiaoVien values ('gv2','nguyen thi b','ha noi','012345678','nguyen thu','1','gv')
--insert into CanBoGiaoVien values ('gv3','nguyen thi c','ha noi','012345678','nguyen thi c','1','gv')
insert into CanBoGiaoVien values ('admin1','admin','ha noi','012345678','admin','admin','admin')
--delete from CanBoGiaoVien
--Lop
insert into Lop values ('lop1','cong  nghe thong tin','2018-2019','3','gv1')
insert into Lop values ('lop2','khoa hoc may tin','2018-2019','3','gv1')
insert into Lop values ('lop3','ky thuat phan mem','2018-2019','3','gv1')
--insert into Lop values ('lop7','tieng nhat','2016-2017','3','gv1')
--delete Lop
select * from Lop
---ho so hoc sinh

insert into HoSoHocSinh values ('hs1','do duc vinh','12/20/1997','nam','ha noi',10,'ko biet','01696437653','lop1')
insert into HoSoHocSinh values ('hs2','nguyen duc anh','12/20/1997','nam','ha noi',10,'ko biet','01696437653','lop1')
insert into HoSoHocSinh values ('hs4','nguyen duc ba','12/20/1997','nam','ha noi',10,'ko biet','01696437653','lop1')

select * from HoSoHocSinh


--delete HoSoHocSinh

--diem
insert into Diem values ('hs1','mon1',10,null)
insert into Diem values ('hs2','mon1',null,10)
insert into Diem values ('hs3','mon1',7,null)


--
--insert into Diem values ('hs42','mon5',null,10)
select *from Diem
--delete Diem
--phan cong
select * from Diem

insert into PhanCongGiangDay values ('lop1','mon1','gv1','12-22-2016')
insert into PhanCongGiangDay values ('lop2','mon5','gv1','12-22-2016')
insert into PhanCongGiangDay values ('lop3','mon1','gv1','12-22-2016')


--insert into PhanCongGiangDay values ('lop2','mon5','gv2','12-22-2016')
--insert into PhanCongGiangDay values ('lop1','mon5','gv2','12-22-2016')
select * from PhanCongGiangDay
--delete PhanCongGiangDay
select *from Diem 